@model List<IDGS903_TEMA1.Models.Pulques>

@{
    ViewBag.Title = "MuestraPulques";
}

<h2>MuestraPulques</h2>
<div>
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Litros</th>
            <th>Fecha</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Litros</td>
                    <td>@item.Caducidad</td>
                </tr>
            }
        </tbody>
    </table>
</div>