
@{
    ViewBag.Title = "LeerDatos";
}

<h2>LeerDatos</h2>

@foreach (string item in ViewBag.Maestros)
            {
                <li>
                    <ul>
                        @foreach (string datos in item.Split(','))
                            {
                               <li>@datos</li>
                            }
                    </ul>
                </li>
            }